{>"main_header.html"/}
{<header}
  <h1 id="article">{project.name} <small>{project.description}</small></h1>
{/header}

{<content}
  {>"page_hiding_list.html"/}

  {<list}
    {>"blog/articles.html"/}
  {/list}

  {<main_content}

    {?article}
    <div class="article_content">
      {article.description|s}
    </div>

    <!--<a href="{#url post=article.name}article{/url}#new_comment" class="btn btn-info">-->
      <!--<i class="icon-comment icon-white"></i>Коментировать-->
    <!--</a>-->
    {/article}

    {?news}
    <section id="news">
      <header><h1>Новости</h1></header>

      {#news}
        <section>
          <h2><a href="{#url post=name}blog.article{/url}">{name}</a></h2>
          {description|s}
        </section>
        <!--<a href="{#url post=name}article{/url}#new_comment" class="btn btn-info">-->
          <!--<i class="icon-comment icon-white"></i>Коментировать-->
        <!--</a>-->
        {@sep}<hr/>{/sep}
      {/news}
    </section>
    {/news}
  {/main_content}
{/content}