{>"main_header.html"/}

{<header}
  <h1>Авторизация</h1>
{/header}

{<content}
<section>
  <form name="login" action="{#url}login{/url}" method="post" class="form-stacked">
    <fieldset>
      <legend>Login</legend>
      <div class="clearfix">
        <label for="login">login</label>
        <div class="input">
          <input type="text" id="login" name="login" class="span4">
        </div>
      </div>
      <div class="clearfix">
        <label for="pass">password</label>
        <div class="input">
          <input type="password" id="pass" name="pass">
        </div>
      </div>
      <div class="clearfix">
        <button class="btn primary" type="submit">Login</button>
      </div>
    </fieldset>
  </form>
</section>
{/content}