{?param}
<{+h}h4{/h}>Параметры</{+h}h4{/h}>
<table class="table table-bordered table-condensed table-striped table-hover">
  <tr>
    <td>Использование</td>
    <td colspan="2">
      <code class="prettyprint lang-js">{+usage/}</code>
    </td>
  </tr>

  <tr>
    <th>Имя</th>
    <th>Тип</th>
    <th>Описание</th>
  </tr>

  {#param}
  <tr>
    <td class="text-success">
      {name} {?default_value}<small class="muted" title="Значение по умолчанию">=&nbsp;{default_value|s}</small>{/default_value}
      {?required}<i title="обязательный параметр" class="icon-asterisk pull-right"></i>{/required}
    </td>
    <td>{#type}{type|s}{@sep}<br>{/sep}{/type}</td>
    <td class="capitalize">{description|s}</td>
  </tr>
  {/param}
</table>
{:else}
<{+h}h4{/h}>Использование</{+h}h4{/h}>
<code class="prettyprint lang-js inline">{+usage/}</code>
{/param}