{>"main_header.html"/}

{<header}
  {?class}
    <h1>{class.className}
    {?parents}
      <small>
        {#parents} < <a href="{#url class=.}wiki.docs{/url}">{.}</a>{/parents}
      </small>
    {/parents}</h1>
    <a href="{#url class=class.className}wiki.file{/url}">{class.short_path}</a>
  {:else}
    <h1>Список классов используемых в {project.name}</h1>
  {/class}
{/header}

{<title}{?class}{class.className} - {:else}Список классов - {/class}{/title}

{<content}
{?class}

  {>"page_hiding_list.html"/}

  {<list}
    <ul class="nav nav-list">
      <li class="nav-header">
        Классы
      </li>
      {#classes}
        <li><a href="{#url class=className}wiki.docs{/url}">{className}</a></li>
      {/classes}
    </ul>
  {/list}

  {<main_content}
    <section id="toc">
      <p class="capitalize">{class.constructor.short_description|s}</p>
      <p><small><a href="#{class.className}">
        Перейти к полному описанию конструктора {?class.constructor.example}и примерам использования класса {/class.constructor.example}>>
      </a></small></p>


      <!--===============   События - кратко  ================-->
      {?class.events}
      <h3>События</h3>
      <table class="table table-bordered table-condensed table-striped table-hover">
        <tr>
          <th>Имя</th>
          <th>Краткое описание</th>
        </tr>
        {#class.events}
        <tr>
          <td>
            <a href="#event:{event_name}">{event_name}</a>
          </td>
          <td class="capitalize">{short_description|s}</td>
        </tr>
        {/class.events}
      </table>
      {/class.events}


      <!--===============   Свойства - кратко  ================-->
      {?class.properties}
      <h3>Свойства</h3>
      <table class="table table-bordered table-condensed table-striped table-hover">
        <tr>
          <th>Имя</th>
          <th>Тип</th>
          <th>Краткое описание</th>
        </tr>
        {#class.properties}
        <tr>
          <td>
            <a href="#{trim_name}">{name}</a>
            {@if cond="'{privacy}' == 'private'"}
            <i class="icon-lock pull-right" title="{privacy}"></i>
            {/if}
          </td>
          <td>{type|s}</td>
          <td class="capitalize">{short_description|s}</td>
        </tr>
        {/class.properties}

        {#class.constructor.properties}
        <tr>
          <td title="У свойства нет подробного описания" class="text-warning">{name}</td>
          <td>{type|s}</td>
          <td>{description|s}</td>
        </tr>
        {/class.constructor.properties}
      </table>
      {/class.properties}


      <!--===============   Методы - кратко  ================-->
      {?class.methods}
      <h3>Методы</h3>
      <table class="table table-bordered table-condensed table-striped table-hover">
        <tr>
          <th>Имя</th>
          <th>Краткое описание</th>
        </tr>
        {#class.methods}
        <tr>
          <td>
            <a href="#{trim_name}">{name}</a>
            {@if cond="'{privacy}' == 'private'"}
            <i class="icon-lock pull-right" title="{privacy}"></i>
            {/if}
          </td>
          <td class="capitalize">{short_description|s}</td>
        </tr>
        {/class.methods}
      </table>
      {/class.methods}
    </section>


    <!--===============   Описание конструктора  ================-->
    {?class.constructor}
    <section id="{class.className}">
      <header>
        <h2>Конструктор {class.className}</h2>
        {?parents}
          Унаследован от {#parents}<a href="{#url class=.}wiki.docs{/url}">{.}</a>{@sep}, {/sep}{/parents}
        {/parents}
      </header>

      {#class.constructor.description}
        <p>{.|s}</p>
      {/class.constructor.description}

      {?class.constructor.params}
        <h3>Параметры</h3>
        <table class="table table-bordered table-condensed table-striped table-hover">
          <tr>
            <td>Использование</td>
            <td colspan="2">
              <code class="prettyprint lang-js">new {class.className}( {#class.constructor.top_params}{?type}[{type|s}] {/type}{name}{@sep}, {/sep}{/class.constructor.top_params} );</code>
            </td>
          </tr>

          <tr>
            <th>Имя</th>
            <th>Тип</th>
            <th>Описание</th>
          </tr>

          {#class.constructor.params}
          <tr>
            <td class="text-success">
              {name} {?default_value}<small class="muted" title="Значение по умолчанию">={default_value|s}</small>
              {:else}<i title="обязательный параметр" class="icon-asterisk pull-right"></i>{/default_value}
            </td>
            <td>{type|s}</td>
            <td class="capitalize">{description|s}</td>
          </tr>
          {/class.constructor.params}
        </table>
      {:else}
        <h3>Использование</h3>
        <code class="prettyprint lang-js inline">new {class.className}();</code>
      {/class.constructor.params}


      {?class.constructor.method_throws}
        <h3>Возможные ошибки</h3>
        <table class="table table-bordered table-condensed table-striped table-hover">
          <tr>
            <th>Тип ошибки</th>
            <th>Условия возникновения</th>
          </tr>
          {#class.constructor.method_throws}
          <tr>
            <td>{type}</td>
            <td class="capitalize">{description|s}</td>
          </tr>
          {/class.constructor.method_throws}
        </table>
      {/class.constructor.method_throws}

      {?class.constructor.example}
      <div class="example">
        <p>{#class.constructor.example}{.|s}<br>{~n}{/class.constructor.example}</p>
      </div>
      {/class.constructor.example}

      {>"{cd}/parts/see.html" see=class.constructor.see/}
      {<h}h3{/h}
    </section>
    {/class.constructor}


    <!--===============  События  ================-->
    {?class.events}
    <section id="events">
      <header><h2>События</h2></header>

      {#class.events clazz=class.className}
      <section id="event:{event_name}">
        <h3>{event_name}</h3>
        <p class="capitalize">{#description}{.|s}{@sep}</p><p class="capitalize">{/sep}{/description}</p>

        {?params}
        <h4>Параметры</h4>
        <table class="table table-bordered table-condensed table-striped table-hover">
          <tr>
            <td>Использование</td>
            <td colspan="2">
              <code class="prettyprint lang-js">{clazz}.on( '{event_name}', function( {#top_params}{?type}[{type|s}] {/type}{name}{@sep}, {/sep}{/top_params} ){} );</code>
            </td>
          </tr>

          <tr>
            <th>Имя</th>
            <th>Тип</th>
            <th>Описание</th>
          </tr>

          {#params}
          <tr>
            <td class="text-success"> {name}</td>
            <td>{type|s}</td>
            <td class="capitalize">{description|s}</td>
          </tr>
          {/params}
        </table>
        {:else}
          <h4>Использование</h4>
          <code class="prettyprint lang-js inline">{clazz}.on( '{event_name}', function(){});</code>
        {/params}

        {?example}
        <div class="example">
          <p>{#example}{.|s}<br>{~n}{/example}</p>
        </div>
        {/example}

        {>"{cd}/parts/see.html" see=see/}
      </section>
      {@sep}<hr/>{/sep}
      {/class.events}
    </section>
    {/class.events}


    <!--===============  Свойства  ================-->
    {?class.properties}
    <section id="properties">
      <header><h2>Свойства</h2></header>

      {#class.properties clazz=class.className}
      <section id="{trim_name}">
        <h3>
          {name}
          {@if cond="'{privacy}' == 'private'"}
          <small><i class="icon-lock" title="{privacy}"></i></small>
          {/if}
          {?static}<small>static</small>{/static}
          {?type}<small>экземпляр {type|s}</small>{/type}
        </h3>

        <p class="capitalize">{#description}{.|s}{@sep}</p><p class="capitalize">{/sep}{/description}</p>

        <h4>Использование</h4>
        <code class="prettyprint lang-js inline">{@if cond="'{privacy}' == 'private'"}this{:else}{clazz}{/if}.{name};</code>

        {?example}
        <div class="example">
          <p>{#example}{.|s}<br>{~n}{/example}</p>
        </div>
        {/example}

        {>"{cd}/parts/see.html" see=see/}
      </section>
      {@sep}<hr/>{/sep}
      {/class.properties}
    </section>
    {/class.properties}

    <!--===============  Методы  ================-->
    {?class.methods}
    <section id="methods">
      <header><h2>Методы</h2></header>

      {#class.methods clazz=class.className}
      <section id="{trim_name}">
        <h3>
          {name}
          {@if cond="'{privacy}' == 'private'"}
          <small><i class="icon-lock" title="{privacy}"></i></small>
          {/if}
          {?static}<small>static</small>{/static}
          <small>возвращает {?returns}{returns.type|s}{:else}<code class="prettyprint lang-js inline">undefined</code>{/returns}</small>
        </h3>

        <p class="capitalize">{#description}{.|s}{@sep}</p><p class="capitalize">{/sep}{/description}</p>

        {?params}
          <h4>Параметры</h4>
          <table class="table table-bordered table-condensed table-striped table-hover">
            <tr>
              <td>Использование</td>
              <td colspan="2">
                <code class="prettyprint lang-js">{@if cond="'{privacy}' == 'private'"}this{:else}{clazz}{/if}.{name}( {#top_params}{?type}[{type|s}] {/type}{name}{@sep}, {/sep}{/top_params} );</code>
              </td>
            </tr>
  
            <tr>
              <th>Имя</th>
              <th>Тип</th>
              <th>Описание</th>
            </tr>
  
            {#params}
            <tr>
              <td class="text-success">
                {name} {?default_value}<small class="muted" title="Значение по умолчанию">={default_value|s}</small>
                {:else}<i title="обязательный параметр" class="icon-asterisk pull-right"></i>{/default_value}
              </td>
              <td>{type|s}</td>
              <td class="capitalize">{description|s}</td>
            </tr>
            {/params}
          </table>
          {:else}
          <h4>Использование</h4>
          <code class="prettyprint lang-js inline">{clazz}.{name}();</code>
        {/params}

        {?method_throws}
        <h4>Возможные ошибки</h4>
        <table class="table table-bordered table-condensed table-striped table-hover">
          <tr>
            <th>Тип ошибки</th>
            <th>Условия возникновения</th>
          </tr>
          {#method_throws}
          <tr>
            <td>{type}</td>
            <td class="capitalize">{description|s}</td>
          </tr>
          {/method_throws}
        </table>
        {/method_throws}
        
        {?returns}
          <h4>Возвращает</h4>
          <table class="table table-bordered table-condensed table-striped table-hover">
            <tr>
              <td>{returns.type|s}</td>
              <td class="capitalize">{returns.description|s}</td>
            </tr>
          </table>
        {/returns}

        {?example}
          <div class="example">
            <p>{#example}{.|s}<br>{~n}{/example}</p>
          </div>
        {/example}

        {>"{cd}/parts/see.html" see=see/}
      </section>
      {@sep}<hr/>{/sep}
      {/class.methods}
    </section>
    {/class.methods}
  {/main_content}

  {:else}
    <section id="class-reference">
      <table class="table table-bordered table-condensed table-striped table-hover">
        {#classes}
        <tr>
          <td><a href="{#url class=className}docs{/url}">{className}</a></td>
          <td>{constructor.short_description|s}</td>
        </tr>
        {/classes}
      </table>
    </section>
  {/class}

{/content}