<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>jsdoc parser</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="../../../node_modules/adwiki/views/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <!--<link rel="shortcut icon" href="images/favicon.ico">-->
    <!--<link rel="apple-touch-icon" href="images/apple-touch-icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">JSDoc Parser</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="pull-right">Logged in as <a href="#">username</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
        {>"file_menu.html"/}
        </div>
      </div>
      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
          <h3>{class.className}</h3>
          {?class.extends}<td>Унаследован от {class.extends}</td>{/class.extends}<br/>
          <td>Определен в файле {class.filename}</td>
          <h4>Свойства</h4>
          <table class="bordered-table">
            <tr><th>Свойство</th><th>Тип</th><th>Описание</th></tr>
            {#class.properties}
            <tr><td>{name}</td><td>{type}</td><td>{#description}{.}<br/>{/description}</td></tr>
            {/class.properties}
          </table>
          <h4>Методы</h4>
          <table class="bordered-table">
            <tr><th>Метод</th><th>Описание</th></tr>
            {#class.methods}
            <tr><td>{name}</td><td>{#description}{.}<br/>{/description}</td></tr>
            {/class.methods}
          </table>
        </div>
        <!-- Example row of columns -->
        <div class="row">
          <div class="span16">
            <div class="alert-message info">{class.className}</div>
            <p>{#class.description}{.}<br/>{/class.description}</p>
            <hr/>
            <div class="alert-message info">Свойства</div>
            {#class.properties}
              <p>{?static}static{/static} {privacy} <b>{name}</b> : <i>{{type}}</i></p>
              <p>{#description}{.}<br/>{/description}</p>
              {?properties.length}<table>{#properties}
                <tr><td>{name}</td><td><i>{{type}}</i></td><td>{description}</td></tr>
              {/properties}</table>{/properties.length}
            {?example}
            <p><b>Пример</b></p>
            <p><code>{example}</code></p>
            {/example}
              <hr/>
            {/class.properties}

            <div class="alert-message info">Методы</div>
            {#class.methods}
              <p>{?static}static{/static} {privacy} {?returns}<i>{{returns.type}}</i>{/returns} <b>{name}</b></p>
              <p>{#description}{.}<br/>{/description}</p>
              {?params.length}
                <p><b>Параметры</b></p>
                <table class="bordered-table">{#params}
                <tr><td>{name}</td><td><i>{{type}}</i></td><td>{description}</td></tr>
                {/params}</table>
            {/params.length}
            {?properties.length}<table>{#properties}
              <tr><td>{name}</td><td><i>{{type}}</i></td><td>{description}</td></tr>
            {/properties}</table>{/properties.length}
            {?method_throws}
              <p><b>Ошибка</b></p>
              <table>
              <tr><td><i>{{method_throws.type}}</i></td><td>{method_throws.description}</td></tr>
              </table>
            {/method_throws}
            {?returns}
              <p><b>Возвращает</b></p>
              <table>
              <tr><td><i>{{returns.type}}</i></td><td>{returns.description}</td></tr>
              </table>
            {/returns}
            {?example}
            <p><b>Пример</b></p>
            <p><pre>{#example}{.}{~n}{/example}</pre></p>
            {/example}
            <hr/>
            {/class.methods}

          </div>
        <hr>
        </div>

        <footer>
          <p>&copy; Company 2011</p>
        </footer>
      </div>
    </div>

  </body>
</html>